# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
Karen Etheridge <ether@cpan.org> Karen Etheridge <github@froods.org>
Сергей Романов <sromanov@cpan.org> Sergey Romanov <sromanov-dev@yandex.ru>
